angular.module('conference.config', [])
	.constant('FB_APP_ID', '932536800093017')
	.constant('SERVER_PATH', 'https://ktdigital.asia/fv0010')
	.constant('MEETUP_KEY', '5gefnsti32oruqceedbl0q0jag')
	.constant('MEETUP_SECRET', 'ake993sske7re8q4a7qk05si0l');