angular.module('conference.config', [])

.constant('FB_APP_ID', '932536800093017') // Use your own FB app id

.constant('SERVER_PATH','http://localhost:5000');
// .constant('SERVER_PATH', 'http://128.199.146.12:5000');