angular.module('conference.config', [])
	.constant('FB_APP_ID', '932536800093017')
	.constant('SERVER_PATH', 'http://128.199.146.12:5002')
    //Server path is node JS server path
	.constant('CLIENT_PATH', 'http://128.199.146.12:5002')
	.constant('MEETUP_KEY', 'e5tt1avanic75io8kc9n879ri5')
	.constant('MEETUP_SECRET', 'h2ccu44f93ormj04j7ev2rv652')
	.constant('PHP_SERVER', 'http://ktdigital.asia/tony/1.0.9/meetup');