<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list card">
            <ion-item class="item-avatar-left item ng-binding">
                <img ng-src="{{user.photo.thumb_link}}">
                <h2>{{user.name}}</h2>
                <p>{{user.group.name}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>