<ion-view title="Sessions">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" on-scroll="showFooter()">
		<ion-list>
			<ion-item class="item-avatar-left" ng-repeat="session in sessions" ng-click="changeSession(session)">
				<img ng-src="{{serverPath}}/pics/{{session.pic}}">
				{{session.title}}
				<p>{{session.speaker}}</p>
			</ion-item>
		</ion-list>
		<!-- <div style="height: 92px"></div> -->
	</ion-content>
</ion-view>
<div class="plus-icon">
	<div class="floatingContainer" ng-style="{bottom: plusBottom}">
		<div class="subActionButton person">
			<p class="floatingText"><span class="floatingTextBG">Add Contact</span></p>
		</div>
		<div class="subActionButton mapMarker">
			<p class="floatingText"><span class="floatingTextBG">Add Address</span></p>
		</div>
		<div class="subActionButton note">
			<p class="floatingText"><span class="floatingTextBG">Add Note</span></p>
		</div>
		<div class="actionButton"><p class="floatingText"><span class="floatingTextBG">Add Customer</span></p></div>
	</div>
	<div class="toasts"><p class="floatingText">Added Note</p></div>
</div>
<div id="page">
	<div id="toolbar" ng-style="{height: footerHeight}">
		<div class="item item-thumbnail-left">
			<img src="{{serverPath}}/pics/{{detailSession.pic}}">
			<h2>{{detailSession.title}}</h2>
			<p>{{detailSession.speaker}}</p>
		</div>
		<div class="item item-body">
			<h1>{{detailSession.time}}</h1>
			<p style="height: 100px; overflow: hidden">{{detailSession.description}}</p>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5000/&t=Share%20the%20app">
				<i class="icon ion-thumbsup"></i>
			</a>
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5000/&t=Share%20the%20app">
				<i class="icon ion-chatbox"></i>
			</a>
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5000/&t=Share%20the%20app">
				<i class="icon ion-share"></i>
			</a>
		</div>
	</div>
</div>