<ion-view title="Sessions">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list>
			<ion-item class="item-avatar-left" ng-repeat="session in sessions" ng-click="changeSession(session)">
				<img ng-src="{{serverPath}}/pics/{{session.pic}}">
				{{session.title}}
				<p>{{session.speaker}}</p>
				<div class="post-content" ng-class="{'show': session.show}">
					<h1>{{session.time}}</h1>
					<p>{{session.description}}</p>
				</div>
			</ion-item>
			<ion-item ng-style="{height: barHeight+'px'}" ng-show="detailShown"></ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<div class="plus-icon">
	<div class="floatingContainer" ng-style="{bottom: plusCSS}">
		<div class="subActionButton person">
			<p class="floatingText"><span class="floatingTextBG">Add Contact</span></p>
		</div>
		<div class="subActionButton mapMarker">
			<p class="floatingText"><span class="floatingTextBG">Add Address</span></p>
		</div>
		<div class="subActionButton note">
			<p class="floatingText"><span class="floatingTextBG">Add Note</span></p>
		</div>
		<div class="actionButton"><p class="floatingText"><span class="floatingTextBG">Add Customer</span></p></div>
	</div>
	<div class="toasts"><p class="floatingText">Added Note</p></div>
</div>