<div class="menu-cover" ng-show="menuShown">
	<div class="menu-cover-item item-big" ng-click="menuShown=false">Home</div>
	<div class="menu-cover-item item-big" ng-click="menuShown=false">Activities</div>
	<div class="menu-cover-item item-big" ng-click="menuShown=false">Resources</div>
	<div class="menu-cover-item item-big" ng-click="menuShown=false">Friends</div>
	<div class="menu-cover-item" ng-click="menuShown=false">Startup Central Rewards</div>
	<div class="menu-cover-item" ng-click="menuShown=false">Buddy Ride Sharing</div>
	<div class="menu-cover-item" ng-click="menuShown=false">Oppotunities</div>
	<div class="close-button" ng-click="menuShown=false"></div>
</div>
<div ng-show="loading || eventLoading" class="loader" ng-style="{'padding-top':middleHeight()}">
    <i class="fa fa-spinner fa-spin"></i>
    <p>Loading...</p>
</div>
<ion-view title="Sessions" ng-hide="loading || eventLoading">
	<ion-nav-buttons side="left">
		<button ng-click="menuShown=true" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-item class="item-avatar-left session-item first-item" id="header" style="position: fixed; top: 0; left: 0; z-index: -1">
		<div class="item-first">
			<div class="item-gap"></div>
			<div class="item-logo">S</div>
			<div class="item-logo-text">CENTRAL</div>
			<div class="item-count">{{sessions.length}}</div>
			<div class="item-count-text">Startup Events</div>
		</div>
	</ion-item>
	<ion-content class="has-header" style="padding-top: 165px">
		<ion-list>
			<ion-item class="item-avatar-left session-item" ng-repeat="session in sessions"
				ng-click="changeSession(session)">
				<div class="session-photo">
					<img ng-model="session" ng-src="{{session.src}}" ng-style="{'width':session.style.width, 'height':session.style.height, 'margin-top':session.style.top, 'margin-left':session.style.left}" img-background>
				</div>
				<div class="session-background"></div>
				<div class="session-background"
				ng-style="{'background-color': session.backgroundColor}">
				</div>
				<div class="session-content">
					<div class="session-month">
						{{session.time | amDateFormat:'MMM'}}
					</div>
					<div class="session-time">
						{{session.time | amDateFormat:'h:mm a'}}
					</div>
					<div class="session-container">
						<div class="session-cover">
							<div class="session-date">{{session.time | amDateFormat:'DD'}}</div>
							<div class="session-description">{{session.name}}</div>
						</div>
					</div>
					<div class="session-group-name">{{session.group.name}}</div>
					<div class="session-address">{{session.venue.address_1}}</div>
				</div>
			</ion-item>
			<ion-item ng-style="{height: barHeight+'px'}" ng-show="detailShown"></ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<div class="plus-icon">
	<div class="floatingContainer" ng-style="{bottom: plusCSS}">
		<div class="subActionButton person">
			<p class="floatingText"><span class="floatingTextBG">Add Contact</span></p>
		</div>
		<div class="subActionButton mapMarker">
			<p class="floatingText"><span class="floatingTextBG">Add Address</span></p>
		</div>
		<div class="subActionButton note">
			<p class="floatingText"><span class="floatingTextBG">Add Note</span></p>
		</div>
		<div class="actionButton"></div>
	</div>
	<div class="toasts"><p class="floatingText">Added Note</p></div>
</div>
<div id="page">
	<div id="toolbar" ng-style="{height: detailCSS}">
		<div class="item item-thumbnail-left">
			<!-- <div class="item-thumbnail-left-background" ng-style="{'background-color': detailSession.backgroundColor}"></div> -->
			<div class="item-detail-text">
				<strong>RSVP:</strong>
				{{members.length}} members
				<div class="item-detail-view-all"
				ng-style="{'color': detailSession.backgroundColor}">VIEW ALL ATTENDEES</div>
			</div>
            <div class="avatar-list">
                <div class="avatar" ng-repeat="member in members | limitTo:5">
                    <img class="desaturate" ng-src="{{member.member_photo.photo_link}}">
                </div>
            </div>
			<div class="showfriend">
				<div class="showfriend-icon"></div>
				SHOW FRIENDS
			</div>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left" ng-show="detailContentHeight>=-20 && detailShown">
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5002/&t=Share%20the%20app">
				<i class="fa fa-calendar"></i><br>
				RSVP
			</a>
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5002/&t=Share%20the%20app">
				<i class="fa fa-star"></i><br>
				FOLLOW
			</a>
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5002/&t=Share%20the%20app">
				<i class="fa fa-share-alt"></i><br>
				SHARE
			</a>
			<a class="tab-item" href="http://www.facebook.com/sharer.php?u=http://128.199.146.12:5002/&t=Share%20the%20app">
				<i class="fa fa-thumbs-up"></i><br>
				LIKE
			</a>
		</div>
		<div class="item item-body">
			<p style="padding-top: 10px" class="item-body-content" ng-style="{height: detailContentCSS, overflow: detailFull ? 'scroll' : 'hidden'}" ng-bind-html="detailSession.description"></p>
		</div>
	</div>
</div>

